<div class="container my-5">
    <!-- Page Header -->
    <div class="text-center mb-5">
      <h1 class="display-4">Contactez-Nous</h1>
      <p class="lead">Nous serions ravis d'avoir de vos nouvelles ! Connectez-vous avec nous par l'un des moyens ci-dessous.</p>
    </div>
  
    <!-- Map Section -->
    <div class="row justify-content-center mb-5">
      <div class="text-center col-md-8">
        <h3 class="mb-3">Notre Emplacement</h3>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2580.0218338321947!2d-6.654235168187208!3d34.2466337643665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sma!4v1725280416836!5m2!1sen!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  
    <!-- Contact Info Section -->
    <div class="row">
      <div class="col-md-6 mb-4">
        <h3 class="mb-3">Contactez Nos Agents</h3>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Soufiane
            <span class="badge badge-primary badge-pill">+212 628-921611</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Anouar
            <span class="badge badge-primary badge-pill">+212 700-020805</span>
          </li>
        </ul>
      </div>
  
      <!-- Social Media Section -->
      <div class="col-md-6 mb-4">
        <h3 class="mb-3">Suivez-Nous</h3>
        <div class="list-group">
          <a href="https://shorturl.at/s49BT" class="list-group-item list-group-item-action d-flex align-items-center">
            <i style="font-size: 25px;padding-right: 20px;" class="fab fa-instagram fa-2x text-danger mr-3"></i> Instagram
          </a>
          <a href="https://shorturl.at/sinHO" class="list-group-item list-group-item-action d-flex align-items-center">
            <i style="font-size: 25px;padding-right: 20px;" class="fab fa-tiktok fa-2x text-dark mr-3"></i> TikTok
          </a>
          <a href="https://shorturl.at/ET3Kz" class="list-group-item list-group-item-action d-flex align-items-center">
            <i style="font-size: 25px;padding-right: 15px;" class="fab fa-youtube fa-2x text-danger mr-3"></i> YouTube
          </a>
        </div>
      </div>
    </div>
  </div>
  